.header {
  position: sticky;
  top: 0;
  z-index: 50;
  transition: all 0.3s ease;
  padding: 1rem 1rem 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.scrolled {
  transition: all 0.3s ease;
  background-color: #231f207b;
}

.nav {
  font-family: "Bison-Bold";
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav__menuList {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.headerLogo {
  width: 1.4rem;
  height: 2rem;
  margin: 0 2rem;
  transition: all 0.3s ease;
}
.headerLogo:hover {
  filter: drop-shadow(5px 5px 1px #a3dabb);
}

.nav__item {
  transition: all 0.3s ease;
  font-size: 1.5rem;
}
.nav__item:hover {
  text-shadow: 0 0 0px #a3dabb, 0 0 5px #a3dabb, 0 0 5px #a3dabb,
    0 0 5px #a3dabb, 0 0 0px #a3dabb, 0 0 0px #a3dabb;
  color: #ffffff;
}
.nav__item.activeLink {
  text-shadow: 0 0 0px #a3dabb, 0 0 5px #a3dabb, 0 0 5px #a3dabb,
    0 0 5px #a3dabb, 0 0 0px #a3dabb, 0 0 0px #a3dabb;
}

@media screen and (max-width: 800px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 50;
    transition: all 0.3s ease;
    padding: 0.5rem 3rem 0.5rem;
    margin-top: 1.5rem;
    width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
  }
  .scrolled {
    transition: all 0.3s ease;
    background-color: #231f205c;
    border-radius: 50rem;
  }

  .nav__menuBar {
    display: flex;
    flex-direction: column;
    row-gap: 0.3rem;
    cursor: pointer;
  }
  .line {
    width: 40px;
    height: 0.2rem;
    background-color: #fff;
    border-radius: 10rem;
    z-index: 10;
    transition: all 0.3s ease;
  }
  .l1 {
    transform: translateY(0);
  }

  .l2 {
    opacity: 1;
  }

  .l3 {
    transform: translateY(0);
  }

  .activeBurger .l1 {
    transform: translateY(10px) rotate(45deg);
  }

  .activeBurger .l2 {
    opacity: 0;
  }

  .activeBurger .l3 {
    transform: translateY(-10px) rotate(-45deg);
  }
  .nav__menuList {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0vh;
    width: 100%;
    left: -100vh;
    padding: 1.5rem 1rem;
    /* min-height: calc(100vh - 12vh); */
    height: 100vh;
    background-color: #fa798edb;
    transition: all 0.5s ease;
    opacity: 0;
    z-index: -1;
  }
  .nav__menuList.active {
    transition: all 0.5s ease;
    left: 0;
    opacity: 1;
    z-index: 9;
  }
  .nav__item {
    position: relative;
    font-size: 2rem;
  }
  .nav__item.activeLink {
    text-shadow: 0 0 0px #a3dabb, 0 0 5px #a3dabb, 0 0 5px #a3dabb,
      0 0 5px #a3dabb, 0 0 0px #a3dabb, 0 0 0px #a3dabb;
  }
}
