@tailwind base;
@tailwind components;
@tailwind utilities;

/* <span className=" font-rubikMedium"></span> */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gradient-bg {
  background: linear-gradient(90deg, #ef792a 0%, #f9c129 100%);
}
/* .gradient-bg:hover {
  background: linear-gradient(90deg, #f9c1297b 0%, #ef792a76 100%);
} */

@font-face {
  font-family: "Bison-Bold";
  src: url("../../public/font/Bison-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik-Bold";
  src: url("../../public/font/Rubik-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik-Light";
  src: url("../../public/font/Rubik-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik-Medium";
  src: url("../../public/font/Rubik-Medium.ttf") format("truetype");
}

.bw-on-hover {
  transition: filter 0.2s ease-in-out;
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-in {
  animation: slide-in 0.5s forwards;
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.slide-out {
  animation: slide-out 0.5s forwards;
}

/*! MOBILE */
@media screen and (max-width: 767px) {
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
  }
}

.reveal-element {
  opacity: 0;
  transform: translateY(20px);
  /* Décalez l'élément vers le bas */
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.reveal-element.is-visible {
  opacity: 1;
  transform: translateY(0);
  /* Animer l'élément vers sa position normale */
}
